@Scripts.Render("~/bundles/jquery", "~/bundles/upload")

<script type="text/javascript">
    $(document).ready(function () {
        UploadImageListener('@Url.Action("UploadImage", "Image")');
    });
</script>

@using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { id="form-upload", enctype = "multipart/form-data"}))
{
    <label id="btn-upload" class="btn btn-success">
        <span class="glyphicon glyphicon-file"></span> Wybierz
        <input style="display: none !important;" type="file" name="uploadedFile" id="uploadedFile" hidden>
    </label>
    <div class="col-xs-12 col-sm-12" id="uploaded-image">
        
    </div>
}
