@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        Wybierz swój obrazek i wygeneruj na nim efekt piórka i węgla.
        <br/>
        Dostępne formaty: jpeg, png.
    </p>
    @Html.Partial("../Image/_Upload")
    @*<btn id="btn-upload" class="btn btn-success" type="file">
        <span class="glyphicon glyphicon-file"></span> Wybierz
    </btn>
    <div class="col-xs-12 col-sm-12" id="uploaded-image">
        
    </div>*@
    
    <br/>

    <button id="btn-generate" class="btn btn-primary">
        <span class="glyphicon glyphicon-flash"></span> Generuj
    </button>
</div>

<div id="informations" class="row">
    <p>
        Wygenerowany obrazek:
    </p>
    <div class="col-xs-12 col-sm-12" id="generated-image">

    </div>

    <button id="btn-download" class="btn btn-info">
        <span class="glyphicon glyphicon-download-alt"></span> Pobierz
    </button>
</div>